<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div ng-app="app" ng-controller="con">
        <input type="text" ng-model="val">
        <input type="text" ng-model="val">
        <input type="text" ng-model="val">
        <input type="button" ng-click="click()">
    </div>
</body>
<script src="../../../angular.js"></script>
<script>
    var app=angular.module("app",[]);
    app.controller("con",["$scope",function($scope){
        $scope.click=function(){
            console.log($scope.val);
        }
    }])
</script>
</html>